# CMake-generated source files
src/config/build.c
src/config/thirdparty.c
src/config/version.c

# Build and project directories
# By convention 'build' contains 'debug' and 'release'
build
debug
release
xcode

# Do not track Eclipse project setup files
.project
